<table>
    <tr>
        <td id="name">
            Select Exam
        </td>
    </tr>
    <tr>
        <button (click)="JavaReportFetch()">
            <td>Java</td>
        </button>
        <button (click)="changePage1()">
            <td>C++</td>
        </button>
        <button (click)="changePage1()">
            <td>Python</td>
        </button>
    </tr>
    <tr>
        <button (click)="changePage1()">
            <td>SQL</td>
        </button>
        <button (click)="changePage1()">
            <td>C#/.Net</td>
        </button>
        <button (click)="changePage1()">
            <td>PHP</td>
        </button>
    </tr>
</table>