<div class="repo">
    <div class="repoadd" style="width:40%; float: left;margin-left: 30%;">
        <h1>Add in Question Bank  </h1>
       <div class="repotext">
       <p> Question Description &nbsp;&nbsp; <input id="question" name="question"></p>
           <p>Option 1:  &nbsp;&nbsp;   <input id="option1" name="option1"></p>
           <p>Option 2: &nbsp;&nbsp;    <input id="option2" name="option2"></p>
           <p>Option 3: &nbsp;&nbsp;    <input id="option3" name="option3"></p>
           <p>Option 4: &nbsp;&nbsp;    <input id="option4" name="option4"></p>
           <p>Correct answer: &nbsp;&nbsp; <input></p>
           <button type="button" class="btn btn-primary btn-lg center" aria-pressed="true" (click)="addQuestion">ADD</button>
       </div>
    </div>
    <br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br> <br><br> <br>
    </div>

  