<header>
	<nav class="navbar navbar-default">
		<div class="container">
			<img class="img-responsive" src="assets/logo.png" style="width:15%;">
			<h1 style="font-size: 300%;color: white;margin-left: -400px;">ONLINE EXAMINATION SYSTEM &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h1>
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header" *ngIf="logout">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">

					<span class="sr-only">Toggle navigation</span>

					<span class="icon-bar" style="float: right; font-size: 1.5em;">Logout</span>
				</button>
				<!-- <a class="navbar-brand" href="#">Brand</a> -->
			</div>
		</div>
		<hr>
		<div class="headerid" >
			<ul>
				<li><a href="http://localhost:4200/mainpage" style="margin-right:30px ;color: white;">Home</a>
					<a href="http://localhost:4200/aboutus" style="color: white">About Us</a>
				</li>
			</ul>
		</div>
		
	</nav>
</header>