.adminLogin{
    border:2px solid black;
    min-height: 10cm;
    margin-left: 10cm;
    margin-top: 3cm;
    font-size: 180%;
    padding-top: 3cm;
    padding-left: 5cm;

}
.adminLoginButton{
    border-radius: 12px;
    font-size: 20px;
    padding:10px 22px;
  
   margin-top: 1cm;
    cursor: pointer;
    
    
}
#input{
    min-height: 0.8cm;
    margin-left: 0.7cm;
  
}
#password{
    width: 6cm;
    min-height: 0.8cm;
    margin-left: 0.3cm;
}