<div class="forgot-password-container">
  <form #forgotPasswordForm="ngForm" class="forgot-password-form">
    <div class="form-control-container mb-3">
      <label for="txtEmail" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        placeholder="Enter Email"
        [(ngModel)]="forgotPassword.userEmail"
        name="userEmail"
        id="txtEmail"
      />
    </div>
    <button class="btn btn-success btn-sm px-4" (click)="sendLinkToEmail()">Send Reset Link </button>
  </form>
</div>