
<div class="repo">
    <div class="repoadd" style="width:40%; float: left;margin-left: 30%;">
        <h1>Delete Questions  </h1>
       <div class="repotext">
           <p>Select Test  &nbsp;&nbsp;   <input></p>
           <p>Select level: &nbsp;&nbsp;    <input></p>
           <p>Select questionId: &nbsp;&nbsp;    <input></p>
           or
           <p>Seach question to be removed &nbsp;&nbsp; <input></p>
           <button class="repoaddbutton" (click)="onExit()" >Delete</button>
       </div>
    </div>
    </div>

  