// div{
//     font-size: large;
//     align-items: center;
//     border:2px solid black;
// }
.adminid{
  text-align: center;
  align-items: center;
  margin-left: 30%;
}
div{
    border-radius: 10px;
   min-height: 12cm; 
   font-size: 100%;
   font-size: 1em;
   margin-left: -4em;;
   margin-bottom:-200px ;
}