
<br>
<h1>Welcom To Admin Page</h1>
<form >
    <div class="adminid" style="width: 40%; margin-left: 20%;" class="adminLogin"><br><br><br>
       
       <button  class="adminLoginButton btn btn-primary btn-lg" (click)="addQuestion()">Add Question&nbsp; &nbsp; &nbsp;</button> &nbsp; &nbsp; &nbsp; &nbsp;    
        <button  class="adminLoginButton btn btn-primary btn-lg" (click)="removeQuestion()">Remove Question</button><br><br><br> <br>    
        <button  class="adminLoginButton btn btn-primary btn-lg" (click)="reportCard()">View Report&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</button>&nbsp; &nbsp; &nbsp; &nbsp;
        <button  class="adminLoginButton btn btn-primary btn-lg" (click)="viewAllUsers()">View All Users&nbsp; &nbsp; &nbsp;&nbsp;</button>
       
    </div>    
</form>