
<form >
    <div style="width: 40%;" class="adminLogin">
        <button  class="adminLoginButton" (click)="onLogin()">Add Question</button>
        
        <button  class="adminLoginButton" (click)="onLogin()">Remove Question</button>
        
        <button  class="adminLoginButton" (click)="onLogin()">View Report</button>
        <button  class="adminLoginButton" (click)="onLogin()">View All Users</button>
        <div style="font-size: 60%;margin-top: 0.5cm;">
            </div>
    </div>
    
</form>