
<form >
    <div style="width: 40%;" class="adminLogin"><br><br><br>
       
       <button  class="adminLoginButton" (click)="addQuestion()">Add Question</button><br><br> <br>       
        <button  class="adminLoginButton" (click)="removeQuestion()">Remove Question</button><br><br><br>     
        <button  class="adminLoginButton" (click)="reportCard()">View Report</button><br><br><br>
        <button  class="adminLoginButton" (click)="viewAllUsers()">View All Users</button><br>
        <!-- <div style="font-size: 60%;margin-top: 0.5cm;">
            </div> -->
    </div>
    
</form>