// div{
//     font-size: large;
//     align-items: center;
//     border:2px solid black;
// }
div{
    border:2px solid black;
    border-radius: 10px;
  margin-right: 2cm;
   margin-top: 4cm;
   min-height: 12cm;
   padding-top: 1cm;
   font-size: 100%;
}