.bg{
    // background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);
    background-image: url(src\assets\bg2.gif);
    width: 100%;
    }
    body{
        background-color: rgb(48, 44, 49);
        // background-image: url(src\assets\bgg.);
    }