<body>
<span style="background-color:black ;">
<app-header></app-header>

<div class="container bg">
  <router-outlet></router-outlet>

 <!-- <app-addquestion></app-addquestion>
<app-removequestion></app-removequestion>
<app-adminprofile></app-adminprofile> -->
<br><br><br><br><br><br>
<div class="pic"></div>
<!-- <img class="caption img-responsive" src="assets/background.png" width="100%" height="100%" style="opacity: 0.3;">  -->
<!-- <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600"> -->
<!-- <app-registeruser></app-registeruser> -->
<!-- <app-adminlogin></app-adminlogin> -->

<!-- <app-exam-home></app-exam-home> -->
<!-- <app-exam-page></app-exam-page> -->
<!-- <app-start-test></app-start-test> -->
</div> 
<app-footer></app-footer>
</span>
</body>