<div class="repo">
    <div class="repoadd" style="width:40%; float: left;margin-left: 30%;">
        <h1>Add in Question Bank  </h1>
       <div class="repotext">
       <p> Question Description &nbsp;&nbsp; <input></p>
           <p>Option 1:  &nbsp;&nbsp;   <input></p>
           <p>Option 2: &nbsp;&nbsp;    <input></p>
           <p>Option 3: &nbsp;&nbsp;    <input></p>
           <p>Option 4: &nbsp;&nbsp;    <input></p>
           <p>Correct answer: &nbsp;&nbsp; <input></p>
           <button class="repoaddbutton" (click)="onExit()" >ADD</button>
       </div>
    </div>
    </div>

  