div{
    text-align: center;
    font-size: 200%;
}

#id{
    // background-image: url(https://mdbootstrap.com/img/Photos/Others/img%20%2848%29.jpg);
    background-image: url(src\assets\bg5.gif);
    width: 100%;
    align-self:center;
    background-repeat: no-repeat;
    }