<br><br>
<b>
<h1>Instruction for Technical Test</h1></b>
<div><br>
    <ol style="font-size: 20px;">
        <li>The examination will comprise of Objective type Multiple Choice Questions (MCQs) </li>
        <li>All questions are compulsory and each carries One mark. </li>
        <li>The total number of questions, duration of examination, will be 50 question and 60 minutes</li>
        <li>Each question carry equal marks and there will be NO NEGATIVE MARKING for the wrong answers.</li>
        <li>All questions are compulsory and each carries One mark. </li>
        <li>The total number of questions, duration of examination, will be 50 question and 60 minutes</li>
        </ol>
        <br> <br> <br>
    <button (click)="changePage()"><b>Start Exam</b></button>
</div>
