<div class="reset-password-container">
  <form #resetPasswordForm="ngForm" class="reset-password-form">
    <div class="form-control-container">
        <label for="userEmailInput" class="form-label">Email</label>
        <input type="email"
        class="form-control"
        [(ngModel)]="reset.userEmail"
        name="userEmail"
        id="userEmailInput"
        required
        />
    </div>
    <div class="form-control-container">
      <label for="newPasswordInput" class="form-label">New Password</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="reset.newPassword"
        name="newPassword"
        id="newPasswordInput"
        required
      />
    </div>
    <div class="form-control-container mb-3">
      <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="reset.confirmPassword"
        name="confirmPassword"
        id="confirmPasswordInput"
        required
      />
    </div>
    <div class="form-control-container form-btn-container">
      <button class="btn btn-primary btn-sm px-4" (click)="resetPassword()">
        Reset
      </button>
    </div>
  </form>
</div>
