table {
    padding: 20px;
    margin: auto auto;
    margin-top: 80px;
    font-size: 30px;
}

button {
    padding: 10px 20px 10px 20px;
    margin: 8px;
}
.nextFinish {
    text-align: center;
}
#One {
    background-color: green;
}
#two {
    background-color:white;
}
